table {
    color: #333;
    background: white;
    border: 1px solid #888;
    font-size: 12pt;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

table th,
table td {
    padding: 1rem;
    border: 1px solid #888;
    text-align: left;
    white-space: nowrap;
    color: #777;
}

table th {
    background-color: #888;
    color: #fff;
}

table thead th {
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

table tbody th[scope=row] {
    position: sticky;
    left: 0;
    z-index: 9;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
}